* {
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;        
}

body{
    background-image: url('https://64.media.tumblr.com/5d37ab2aa782462c7aa092f7bd0d27cb/2f374d07287b003b-f4/s1280x1920/fe094893d79e09d668e1705e8b9144964f38ce75.gifv');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.pausebutton {
    margin: 5px;
    border: none;
    outline: none;
    background: none;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background-image: none;
    color: #fff;
    border:none;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

button:hover {
    transform: scale(1.1);
}

#container-canvas{
    position: relative;
    display: inline-block;      
}

#smallcontainer-canvas{
    position: absolute;
    display: flex; 
    width: 100%; 
    align-items: center;
    padding: 20px;
}

#container-canvas .timer{
    background-color: black; 
    width: 100px; 
    height: 50px; 
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid white;
}

.menu{
    position: relative;
    justify-content: center;
}

#player {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}

#player .player-health{
    background-color: red; 
    height: 30px;
    width: 100%;
}

#player .player-health2{
    position: absolute;
    background: #818CF8;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#enemy{
    position: relative;
    width: 100%;
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

#enemy .enemy-health{
    background-color: red; 
    height: 30px;
}

#enemy .enemy-health2{
    position: absolute;
    background: #818CF8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.displaytext {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.driver-popover.driverjs-theme {
    background-color: #F2E8C6;
    color: #800000;
  }
  
  .driver-popover.driverjs-theme .driver-popover-title {
    font-size: 20px;
  }
  
  .driver-popover.driverjs-theme .driver-popover-title,
  .driver-popover.driverjs-theme .driver-popover-description,
  .driver-popover.driverjs-theme .driver-popover-progress-text {
    color: #800000;
  }
  
  .driver-popover.driverjs-theme button {
    flex: 1;
    text-align: center;
    background-color: #800000;
    color: #DAD4B5;
    border: 1px solid #000;
    text-shadow: none;
    font-size: 14px;
    padding: 0px;
    border-radius: 5.33px;
  }
  
  .driver-popover.driverjs-theme button:hover {
    background-color: #F9D689;
    color: #800000;
  }
  
  .driver-popover.driverjs-theme .driver-popover-navigation-btns {
    margin-left: 15px;
    justify-content: space-between;
    gap: 3px;
  }
  
  .driver-popover.driverjs-theme .driver-popover-close-btn {
    width: 20px;
    height: 20px;
    color: #F9D689;
  }
  
  .driver-popover.driverjs-theme .driver-popover-close-btn:hover {
    color: #800000;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
    border-left-color: #F2E8C6;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
    border-right-color: #F2E8C6;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
    border-top-color: #F2E8C6;
  }
  
  .driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
    border-bottom-color: #F2E8C6;
  }